/*

 * Copyright (c) 2020 The ZMK Contributors

 *

 * SPDX-License-Identifier: MIT

 */



#include <behaviors.dtsi>

#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/keys.h>

#include <dt-bindings/zmk/pointing.h>

#include <dt-bindings/zmk/outputs.h>



/ {

    keymap {

        compatible = "zmk,keymap";



        default_layer {

            display-name = "Default Layer";



            bindings = <

&kp TAB    &kp Q  &out OUT_TOG     &kp E     &kp R  &kp T          &kp Y    &kp U  &kp I      &kp O     &kp P     &kp BSPC

&kp LCTRL  &kp A  &kp S     &kp D     &kp F  &kp G          &kp H    &kp J  &kp K      &kp L     &kp SEMI  &kp SQT

&kp LSHFT  &kp Z  &kp X     &kp C     &kp V  &kp B          &kp N    &kp M  &kp COMMA  &kp DOT   &kp FSLH  &kp ESC

                  &kp LGUI  &kp LGUI  &mo 1  &kp SPACE      &kp RET  &mo 2  &kp RALT   &kp LGUI

            >;



            sensor-bindings =

                <&inc_dec_kp C_VOL_UP C_VOL_DN>,

                <&inc_dec_kp PG_UP PG_DN>;

        };



        lower_layer {

            display-name = "Lower Layer";



            bindings = <

&studio_unlock  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC

&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans

&kp LSHFT   &trans        &trans        &trans        &trans        &trans            &trans    &trans    &trans    &trans     &trans  &trans

                          &kp LGUI      &kp LGUI      &trans        &kp SPACE         &kp RET   &trans    &kp RALT  &kp LGUI

            >;

        };

    
        raise_layer {
            display-name = "Raise";

            bindings = <
&kp EXCL   &kp AT    &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET       &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR    &kp TILDE  &kp BSPC
&kp UNDER  &kp MINUS &kp PLUS  &kp EQUAL &kp LBKT   &kp RBKT        &kp LBRC   &kp RBRC   &kp PIPE   &kp BSLH    &kp COLON  &kp SCLN
&kp LSHFT  &kp DQT   &kp SQT   &kp LT    &kp GT     &kp QMARK       &kp SLASH  &kp BSLH   &kp COMMA  &kp DOT     &kp MINUS  &kp DEL
                     &mo 3   &mo 4     &mo 5     &kp SPACE       &kp RET    &mo 6      &mo 7      &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        new_layer_3 {
            display-name = "New 3";

            bindings = <
            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        new_layer_4 {
            display-name = "New 4";

            bindings = <
            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        new_layer_5 {
            display-name = "New 5";

            bindings = <
            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        new_layer_6 {
            display-name = "New 6";

            bindings = <
            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
        sys_layer {
            display-name = "System";

            bindings = <
&studio_unlock  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR      &out OUT_USB  &out OUT_BLE  &out OUT_TOG  &trans  &trans  &kp BSPC
&bt BT_SEL 0    &bt BT_PRV    &bt BT_NXT    &trans        &trans        &trans          &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans
&trans          &rgb_ug RGB_EFF &rgb_ug RGB_EFR &rgb_ug RGB_SPI &rgb_ug RGB_SPD &trans      &sys_reset  &bootloader  &trans  &trans  &trans  &trans
                                &trans        &trans        &trans        &kp SPACE       &kp RET  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp RGB_HUI RGB_HUD>,
                <&inc_dec_kp RGB_BRI RGB_BRD>;
        }
};

};