#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include "paw-layouts.dtsi"

/* ---- DYA Studio: Runtime Input Processor (Trackball 标签页) ----------------
 * 参考实现: cormoran/zmk-keyboard-dya2 的 boards/shields/dya2/dya2.dtsi
 * 说明: https://studio.dya.cormoran.works/developer-guide/modules/trackball
 *       https://github.com/cormoran/zmk-module-runtime-input-processor
 *
 * <input/processors/runtime-input-processor.dtsi> 会定义两个默认节点：
 *   - mouse_runtime_input_processor   （指针：灵敏度 / 旋转 / 轴反转 / 惯量）
 *   - scroll_runtime_input_processor  （滚动）
 * 这两个节点是 /omit-if-no-ref/ 的：没人引用就会被整个丢掉。
 *
 * 注意挂载位置：input-processors 只写在**中央侧（左半）**的 listener 上，
 * 见 paw_left.overlay。原因是本键盘右半的轨迹球是通过
 *   &pmw_split { device = <&trackball>; }
 * 被直接转发到中央侧的，**绕过了 input-listener**；而外周侧自己没有 HID 输出，
 * 所以在右半的 listener 上挂 processor 对外发路径不起作用，只会白占 RAM
 * 并可能让两半出现同名 processor-label。
 */
#include <dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
#include <input/processors/runtime-input-processor.dtsi>

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        /* input-processors 只在中央侧（paw_left.overlay）挂，原因见文件头注释 */
    };

    matrix_transform0:  keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <4>;

        map = <
        RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)  RC(0,11) RC(0,10) RC(0,9) RC(0,8) RC(0,7) RC(0,6)
        RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)  RC(1,11) RC(1,10) RC(1,9) RC(1,8) RC(1,7) RC(1,6)
        RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)  RC(2,11) RC(2,10) RC(2,9) RC(2,8) RC(2,7) RC(2,6)
                        RC(3,2) RC(3,3) RC(3,4) RC(3,5)  RC(3,6) RC(3,10) RC(3,9) RC(3,8)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "row2col";
                row-gpios
                        = <&gpio0 2 GPIO_ACTIVE_HIGH>
                        , <&gpio0 29 GPIO_ACTIVE_HIGH>
                        , <&gpio0 31 GPIO_ACTIVE_HIGH>
                        , <&gpio0 30 GPIO_ACTIVE_HIGH>
            ;
    };

        left_encoder: encoder_left {
                                        compatible = "alps,ec11";
                                        a-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
                                        b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
                                        status = "disabled";
                                        steps = <30>;
         };

        right_encoder: encoder_right {
                                        compatible = "alps,ec11";
                                        a-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
                                        b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
                                        status = "disabled";
                                        steps = <30>;
         };
        sensors: sensors {
                                        compatible = "zmk,keymap-sensors";
                                        sensors = <&left_encoder &right_encoder>;
                                        triggers-per-rotation = <60>;
                        };
};

/ {
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        pmw_split: pmw_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    pmw_listener: pmw_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&pmw_split>;
    };
};

/ {
    left_listener: left_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
    };
};
